<div class="main">
 <h2>Add a moment</h2>
 <form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <app-input
    type="text"
    label="Title"
    placeholder="Enter Title"
    [control]="$any(title)"
    [hasError]="title.invalid && formDir.submitted"
    [errorMessage]="parseError('title', title.errors)"
  ></app-input>
  <app-textarea
    label="Description"
    placeholder="Enter description"
    [control]="$any(description)"
    [hasError]="description.invalid && formDir.submitted"
    [errorMessage]="parseError('description', description.errors)"
  ></app-textarea>
  <app-radio
    label="Status"
    [control]="$any(status)"
    [hasError]="(status?.invalid || false) && formDir.submitted"
    [errorMessage]="parseError('status', status?.errors)"
  >
    <app-radio-item [value]="'active'" [label]="'Active'"></app-radio-item>
    <app-radio-item [value]="'inactive'" [label]="'Inactive'"></app-radio-item>
  </app-radio>
  <app-input-tag
    label="Tags"
    placeholder="Insert a tag"
    [control]="$any(tags)"
  ></app-input-tag>
  <app-checkbox
    label="Terms and conditions"
    [control]="$any(term)"
    [hasError]="(term?.invalid || false) && formDir.submitted"
    [errorMessage]="parseError('term', term?.errors)"
  >
    <app-checkbox-item [value]="'terms'" [label]="'I allow share my data'"></app-checkbox-item>
    <app-checkbox-item [value]="'conditions'" [label]="'I agree with the terms'"></app-checkbox-item>
  </app-checkbox>
  <div class="form-group">
    <button type="submit">Send</button>
  </div>
 </form>
</div>
