<div class="main">
 <h2>Add a moment</h2>
 <form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <app-input
    type="text"
    label="Title"
    placeholder="Enter Title"
    [required]="true"
    [control]="$any(title)"
    [hasError]="title.invalid && formDir.submitted"
    [errorMessage]="parseError('title', title.errors)"
  ></app-input>
  <app-checkbox
    label="Pick some thags"
    [required]="true"
    [control]="$any(tags)"
    [hasError]="(tags?.invalid || false) && formDir.submitted"
    [errorMessage]="parseError('tags', tags?.errors)"
  >
    <app-checkbox-item [value]="'tag 1'" [label]="'Tag 1'"></app-checkbox-item>
    <app-checkbox-item [value]="'tag 2'" [label]="'Tag 2'"></app-checkbox-item>
    <app-checkbox-item [value]="'tag 3'" [label]="'Tag 3'"></app-checkbox-item>
  </app-checkbox>
  <app-textarea
    label="Description"
    placeholder="Enter description"
    [required]="true"
    [control]="$any(description)"
    [hasError]="description.invalid && formDir.submitted"
    [errorMessage]="parseError('description', description.errors)"
  ></app-textarea>
  <div class="form-group">
    <button type="submit">Send</button>
  </div>
 </form>
</div>
